#containerarea2 {
    background-color: var(--secondary-color);
    margin-top: 20px;
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
    height: 100vh;
}