#containercard{
   display: grid;
   grid-template-areas: 
   "card1 h1"
   "card1 card2";
   grid-template-columns: clamp(200px, 20vw, 360px) clamp(200px, 20vw, 360px);;
   grid-template-rows: auto clamp(0px, 440px, 640px);
   justify-self: center;
   gap: 0px 40px;
   max-width: 60vw;
   min-width: 200px;
   margin-left: 200px;
   margin-right: 200px;
}

#card1{
   background-image: url('/public/pexels-arrn-35442963.jpg');
   background-size: cover;
   background-position: center;
   max-height: 440px;
   width: 100%;
   border-radius: 20px;
   align-content: flex-end;
   padding: 16px;
   grid-area: card1;
   cursor: pointer;
}

#card2{
   background-image: url('/public/pexels-sonny-17133329.jpg');
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%;
   border-radius: 20px;
   align-content: flex-end;
   padding: 16px;
   grid-area: card2;
   cursor: pointer;
}

#h1card{
    grid-area: h1;
    margin-bottom: 24px;
    text-align: center;
    color: var(--primary-color);
}

.h2card{
    font-size: var(--font-size-h2);
    color: var(--white-color);
    line-height: 2;
}

.pcard{
    font-size: var(--font-size-p);
    color: var(--white-color);
}

#card1:hover, #card2:hover {
   background-size: 114%;
}

@media screen and (max-width:768px){
#containercard{
    grid-template-areas: 
   "h1"
   "card1"
   "card2";
    grid-template-rows: auto minmax(10px, 240px) minmax(10px, 240px);
    grid-template-columns: minmax(10px, 440px);
    /* height: calc(100vh - 48px); */
    /* max-height: 60vh; */
    /* max-width: 440px;
    width: 80vw; */
    min-width: 0;
    justify-content: center;
    margin-left: 0px;
   margin-right: 0px;
}


#h1card{
    margin-bottom: 24px;
}

#card1{
    margin-bottom: 24px;
}

/* #card1{

    width: auto;
} */
}
