#cardsearchcontainer {
    display: grid;
    grid-template-areas: 
        "imgresult common"
        "imgresult scientific"
        "imgresult family"
        "imgresult genus"
        "imgresult year";
    grid-template-columns: auto auto;
    grid-template-rows: 44px 28px 28px 28px;
    width: calc(60vw - 48px);
    height: 232px;
    background-color: var(--white-color);
    color: var(--text-color);
    margin: 0 auto;
    justify-content: start;
    border-radius: 24px;
    padding: 16px;
    margin-top: 40px;
}

h2 {
    font-size: var(--font-size-h2);
}

p {
    font-size: var(--font-size-p);
}

#imageresult{
    grid-area: imgresult;
    height: 200px;
    width: 160px;
    padding-right: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    /* border-radius: 12px; */
}

#commonresult{
grid-area: common;
}

#scientificresult{
grid-area: scientific;
}

#familyresult{
grid-area: family;
}

#genusresult{
grid-area: genus;
}

#yearresult{
    grid-area: year;
}

@media screen and (max-width:768px){
    #cardsearchcontainer {
    display: grid;
    grid-template-areas: 
        "imgresult"
        "common"
        "scientific"
        "family"
        "genus"
        "year";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    width: calc(60vw - 48px);
    height: auto;
    /* max-height: 500px; */  /* ngetes biar cardresult ga keluar batas */
    background-color: var(--white-color);
    color: var(--text-color);
    margin: 0 auto;
    justify-content: start;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 24px; /* ngetes biar cardresult ga keluar batas */
}
#imageresult{
    grid-area: imgresult;
    width: 100%;        /* fleksibel sesuai lebar container */
    max-width: 600px;   /* maksimal lebar 600px */
    height: auto;       /* tinggi mengikuti proporsi gambar */
    max-height: 300px;
    padding-right: 0px;
    border-radius: 12px;
}

#commonresult{
grid-area: common;
margin-top: 8px;
}

#scientificresult{
grid-area: scientific;
margin-top: 8px;
}

#familyresult{
grid-area: family;
margin-top: 8px;
}

#genusresult{
grid-area: genus;
margin-top: 8px;
}

#yearresult{
    grid-area: year;
    margin-top: 8px;
}
}