#containercard{
   display: grid;
   grid-template-areas: 
   "card1 h1"
   "card1 card2";
   grid-template-columns: minmax(0, 360px) minmax(0, 360px);
   grid-template-rows: minmax(0, 40px) minmax(0, 540px);
   justify-self: center;
   gap: 0px 30px;
}

#card1{
   background-image: url('/public/pexels-sonny-17133329.jpg');
   background-size: cover;
   background-position: center;
   max-height: 540px;
   width: 100%;
   border-radius: 20px;
   grid-area: card1;
}

#card2{
   background-image: url('/public/pexels-sonny-17133329.jpg');
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%;
   border-radius: 20px;
   grid-area: card2;
}

#h1card{
    grid-area: h1;
}

.h2card{
    font-size: var(--font-size-h2);
    color: var(--white-color);
}

.pcard{
    font-size: var(--font-size-p);
    color: var(--white-color);
}