#carouselcontainer{
    text-align: center;
}

#carousel{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin-top: 24px;
    justify-content: center;
}

#h1carousel{
    max-width: 860px;
    min-width: 20px;
    color: var(--primary-color);
    font-size: var(--font-size-h1);
    margin: 0px 40px;
    line-height: 1.7;
}

.carouselimage1{
    max-width: 40px;
    max-height: 100px;
}

.carouselimage2{
    width: 100px;
    height: 40px;
    align-self: center;
    margin: 0 auto;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    #h1carousel{
        font-size: var(--font-size-h1-phone);
    }
}