#carouselcontainer{
    text-align: center;
}

#carouselparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 48px);
    margin: 0 auto;
    overflow: hidden;
    /* border: 5px solid red; */
}

#carousel{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
    animation: spin 16s infinite linear;
}

#carouselparent:hover #carousel{
    animation-play-state: paused;
}

@media screen and (min-width:1920px){
  #carousel{
    width: calc(1920px - 48px);
    /* justify-self: center; */
  }
}

/* #carouselcard{
   animation: spin 16s infinite linear;
} */

#h1carousel{
    max-width: 860px;
    min-width: 20px;
    color: var(--primary-color);
    font-size: var(--font-size-h1);
    margin: 0 auto;
    padding: 0 28px;
    padding-bottom: 100px;
    line-height: 1.7;
}

.carouselimage1{
    height: 200px;
    width: 140px;
    object-fit: cover;
    border-radius: 16px;
}

.carouselimage2{
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 16px;
}

/* .carouselimage1, .carouselimage2{
    animation: spin 16s infinite linear;
} */

/* #carouselcard{
   animation: spin 16s infinite linear;
} */

@media screen and (max-width: 768px) {
    #h1carousel{
        font-size: var(--font-size-h1-phone);
    }
}

@keyframes spin {
  0% {
    transform: translateX(0); /* Mulai dari posisi awal */
  }
  100% {
    transform: translateX(-30%); /* Geser seluruhnya ke kiri tanpa berhenti */
  }
}