#containercontent1 {
    display: grid;
    grid-template-areas: 
    "image icon"
    "image tittle"
    "image caption";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
}

.imagecontent1{
grid-area: image;
width: 100%; /* Membuat gambar responsif */
max-width: 480px;
object-fit: cover;
border-radius: 28px;
}

.iconcontent1{
    grid-area: icon;
    width: clamp(24px, 4vw, 40px);
    margin-top: 20px;
    margin-left: 60px;
}

.tittlecontent1{
grid-area: tittle;
font-size: 24px;
font-weight: 500;
margin-top: 20px;
margin-bottom: 12px;
padding-left: 60px;
}

.captioncontent1{
grid-area: caption;
font-size: 16px;
padding-left: 60px;
padding-top: 12px;
margin-top: 0px;
}