#footer{
    background-color: var(--primary-color);
    display: grid;
    grid-template-areas: 
    "logo about resource contact";
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-self: center;
    height: 280px;
    max-width: 1920px;
    width: calc(100vw - 48px);
    border-radius: 28px;
}

#logoarea{
    background-color: aliceblue;
    width: 100px;
}

#about{
    list-style-type: none;
    color: var(--white-color);
}

.listabout a{
    color: inherit;
}