#textarea2wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width:100%;
}

#textarea2container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 860px;
    min-width: 20px;
    margin-right: 40px;
    margin-left: 40px;
    flex: 1;
}

.h1{
    font-size: var(--font-size-h1);
    color: var(--primary-color);
    line-height: 1.7;
}

.p{
    font-size: var(--font-size-p);
    color: var(--text-color);
    max-width: 740px;
    min-width: 20px;
    padding-top: 16px;
    line-height: 2;
}

#buttonarea2{
    background-color: var(--primary-color);
    margin-top: 92px;
    padding: 12px max(2px, 100px);
    border-radius: 12px;
}

#textbuttonarea2{
    font-size: var(--font-size-p);
    color: var(--white-color);
}

#buttonarea2:hover{
    background-color:  var(--secondary-color);
}

#image1textarea2{
    /* position: absolute; */
    background-image: url('/public/pexels-sonny-17133329.jpg');
   background-size: cover;
   background-position: center;
    height: 600px;
    width: 160px;
    left: 0;
    border-radius: 0px 20px 20px 0px;
}

#image2textarea2{
    /* position: absolute; */
    background-image: url('/public/pexels-sonny-17133329.jpg');
   background-size: cover;
   background-position: center;
    height: 600px;
    width: 160px;
    right: 0;
    border-radius: 20px 0px 0px 20px;
    margin-left: 20px;
}

@media screen and (max-width:1024px){
    #image1textarea2, #image2textarea2{
        width:100px
    }
}

@media screen and (max-width:768px){
    .h1{
        font-size: var(--font-size-h1-phone);
    }
    #image1textarea2, #image2textarea2{
        display: none;
    }
}