#containertopbar {
    display: flex;
    justify-content: center;
    top: 0;
    list-style-type: none;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 160px;
    color: var(--primary-color);
    font-size: var(--font-size-p);
    font-weight: 500;
}

.listtopbar a{
    gap: 100px;
    color: inherit;
    display: inline-block;
    transition: transform 0.2s ease;
}

.listtopbar a:hover{
    transform: scale(1.03);
    color: var(--secondary-color);
}

@media screen and (max-width:1360px){
     #containertopbar {
        gap: 100px;
}
}

@media screen and (max-width:1156px){
     #containertopbar {
        gap: 80px;
}
}


@media screen and (max-width:768px){
    .listtopbar {
        display: none;
}
    #containertopbar {
        height: 20px;
}
}