#wideboximage {
    width: calc(100% - 48px);
    height: calc(100% - 70px);
    object-fit: cover;
    margin: 0 20px 20px 20px;
    border-radius: 28px;
}

.containerwidebox {
    background-image: url('/public/wideimage4-1920x1118.jpg');
    background-position: bottom;
    background-size: cover;
    justify-self: center;
    width: calc(100vw - 48px); /* 24px margin kiri & kanan */
    height: calc(100vh - 70px); /* Topbar (16+16+14=46) 46 + 24 */
    border-radius: 28px;
    display: block;
    max-width: 1920px;
    max-height: 1080px;
    padding-top: 88px;
}

#block1widebox{
    background-color: var(--white-color);
    top: 40px;
    max-width: 1116px;
    min-width: 100px;
    max-height: 74px;
    border-radius: 0px 20px 20px 0px;
}