.containerwidebox1 {
    width: calc(100vw - 48px); /* 24px margin kiri & kanan */
    height: calc(100vh - 70px); /* Topbar (16+16+14=46) 46 + 24 */
    border-radius: 28px;
    display: grid;
    grid-template-rows: 162px auto auto;
    max-width: 1920px;
    max-height: 1080px;
}

.containerwidebox1.image{
    background-image: url('/wideimage4-1920x1118.jpg');
    background-position: bottom;
    background-size: cover;
    justify-self: center;
}

.containerwidebox1.color1{
    background-color: var(--secondary-color);
    background-position: bottom;
    background-size: cover;
    justify-self: center;

        #block1widebox1, #block2widebox1, #h1widebox{
        display: none;
    }
}

.containerwidebox1.color2{
    background-color: var(--secondary-color);
    background-position: bottom;
    background-size: cover;
    justify-self: center;
    grid-template-rows: 292px auto;
    
    #block1widebox1, #block2widebox1, #h1widebox{
        display: none;
    }
}

.searchlabel.on{
    display: flex;
}

.searchlabel.off{
    display: none;
}

.cardresult.on{
  display: flex;
}

.cardresult.off{
   display: none;
}

.aploadphotoo.on{
    display: flex;
    justify-self: center;
}

.aploadphotoo.off{
    display: none;
}

#block1widebox1{
    background-color: var(--white-color);
    top: 40px;
    display: flex;
    align-items: center;
    width: calc(100% - 400px);
    height: 74px;
    border-radius: 0px 16px 16px 0px;
    margin-top: 88px;
}

#flantlogo{
    height: 36px;
    width: auto;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
}

#block2widebox1{
    background-color: var(--white-color);
    display: flex;
    width: calc(100% - 80vw);
    justify-self: end;
    align-self: end;
    height: 74px;
    margin-bottom: 140px;
    border-radius: 16px 0px 0px 16px;
}

#h1widebox{
    color: var(--white-color);
    margin-top: 40px;
    margin-left: 60px;
    max-width: 50vw;
    line-height: 1.7;
}

#buttonlogin{
align-self: center;
margin: 0 auto;
text-align: center;
color: var(--primary-color);
font-size: var(--font-size-p);
font-weight: 500;
}

/* Min width 1920px*/
@media screen and (min-width:1920px){
  #block2widebox1{
    width: calc(100% - 1536px);
  }
}

/* Max width */
@media screen and (max-width:1024px){
#block1widebox1{
    width: calc(100% - 200px);
}
#block2widebox1{
    width: calc(100% - 70vw);
}
#h1widebox{
    margin-top: 30px;
    margin-left: 40px;
}
}

@media screen and (max-width:768px){
#block1widebox1{
    width: calc(100% - 100px);
    height: 66px;
}
    #block2widebox1{
    width: calc(100% - 60vw);
    height: 66px;
}
#h1widebox{
    margin-top: 20px;
    font-size: var(--font-size-h1-phone);
    margin-left: 30px;
}
.aploadphotoo.on{
    display: flex;
    justify-self: center;
    margin-bottom: 32px;
}
}

@media screen and (max-width:480px){
#block1widebox1{
    width: calc(100% - 60px);
}

#block2widebox1{
    width: calc(100% - 40vw);
}
/* #h1widebox{
    margin-top: 10px;
    margin-left: 20px;
} */
}

/* Max height */
@media screen and (max-height:768px){
#block1widebox1{
    height: 58px;
}
    #block2widebox1{
    height: 58px;
}
}

/* #logoarea{
    background-color: var(--white-color);
    width: calc(100% - 100px);
    height: 10vh;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
} */

/* 
.containerwidebox1 {
    background-image: url('/public/wideimage4-1920x1118.jpg');
    background-position: bottom;
    background-size: cover;
    justify-self: center;
    width: calc(100vw - 48px);
    height: calc(100vh - 70px); 
    border-radius: 28px;
    display: grid;
      grid-template-columns: minmax(20px, 1fr) minmax(20px, 20vw);
    max-width: 1920px;
    max-height: 1080px;
}

#block1widebox1{
    background-color: var(--white-color);
    top: 40px;
    max-width: 1116px;
    min-width: 20px;
    max-height: 74px;
    border-radius: 0px 20px 20px 0px;
    margin-top: 88px;
    margin-right: 20px;
}

#block2widebox1{
    background-color: var(--white-color);
    max-width: 200px;
    min-width: 20px;
    justify-self: end;
    align-self: end;
    max-height: 74px;
    margin-bottom: 140px;
    border-radius: 20px 0px 0px 20px;
}

@media screen and (min-width:1920px){
.containerwidebox1{
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(20px, 20vw);
}
} */