#searchbarcontainer {
    /* width: 100%; */
    width: calc(60vw - 48px);
    max-height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    margin-top:100px;
    position: relative;
}

#searchbar {
    width: 100%;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: var(--font-size-p);
    outline: none;
    border-radius: 8px;
}

#buttonsearch{
  justify-self: end;
  position: absolute;
  align-self: center;
  background-color: transparent;
  color: var(--white-color);
  height: 60%;
  cursor: pointer;
  right: 24px;
  width: 24px;
  height: 24px;
}

img{
    width: 24px;
    height: 24px;
}

/* .searchbar:focus {
    border-color: #4285F4;
    box-shadow: 0 2px 10px rgba(66, 133, 244, 0.3);
} */

@media screen and (max-width:765px) {
    #searchbarcontainer{
        width: calc(80vw - 48px);
    }
}