:root{
  --primary-color: #28462E;
  --secondary-color: #B3C1B0;
  --text-color: #1E1E1E;
  --white-color: #f5f5f5;
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h1-phone: 24px;
  --font-size-h2-phone: 18px;
  --font-size-p: 14px;
}

* {
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
}

html, body {
  height: 100%;
  line-height: 1.5;
  background-color: var(--white-color);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ngerapihin jika layar di maximize */
@media screen and (min-width:1920px){
  .grid{
    width:1920px;
    justify-self: center;
  }
}